.d-about-avatar{
  margin: 1rem;
  font-size: .6rem;
}

.d-about-avatar-img{
  margin-bottom: .85rem;
}

.d-about-avatar-name{
  font-family: $d-font-family-secondary;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: .1rem;
}