.d-header-item-link{
  font-size: .65rem;
  @include media-breakpoint-up(md){
    padding: 1.65rem 1.25rem;
  }
}

//active web
.d-header-active{
  background-color: $d-white;
  color: $d-accent-color;
}
